.clockContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  justify-content: center;
  flex-direction: column;
  padding: calc(5px + 2vmin);
  height: 100vh;
  width: 100vw;
}

.switcherContainer {
  position: fixed;
  top: 0;
  right: 0;
  height: fit-content;
}
