.clockContainer {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  flex-direction: column;
  padding: calc(5px + 2vmin);
  height: 100vh;
  width: 100vw;
}

.switcherContainer {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: space-between;
  color: var(--font-color);
  width: 100%;
  padding: 5px;
  top: 0;
  left: 0%;
  height: fit-content;
}
