
.digitalClock {
    display: flex;
    gap: calc(var(--main-font) + 4vw);
    height: 90%;
    align-items: center;
    justify-content: space-around;
}

.digitalClockCellHeader {
    margin: 0;
    align-self: flex-end;
}

.digitalClockCell {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    width: 30%;
}

.digitalClockCell::after {
    position: absolute;
    content: ':';
    font-size: var(--large-font);
    font-family: Orbitron, sans-serif;
    right: -17%;
    top: 12%;
}

.digitalClockCell:last-of-type::after {
    display: none;
}

.digitalClockDigit {
    position: relative;
    font-family: Orbitron, sans-serif;
    font-size: var(--large-font);
    font-weight: 500;
    align-self: center;
}

.digitalClockDigit::before {
    position: absolute;
    content: '88';
    opacity: 10%;
    top: 0;
    left: 100%;
    transform: translateX(-100%);
}