.analogClock {
  display: flex;
  position: relative;
  flex-direction: column;
  height: 100%;
  aspect-ratio: 1/1;
  align-items: center;
  align-self: center;
  justify-content: center;
  transform: rotate(-45deg);
}

.analogClockRow {
  display: flex;
}

.analogClockCell {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: calc(40px + 4vmin);
  aspect-ratio: 1/1;
  font-family: Orbitron, sans-serif;
  font-size: calc(30px + 2vmin);
  font-weight: 500;
  transform: rotate(45deg);
}

.hourHand {
  position: absolute;
  transition: transform ease-in-out 0.25s;
}

.hourHand::before {
  position: absolute;
  content: "";
  height: calc(20px + 2vmin);
  width: 9px;
  background-color: #61dafb;
  top: 50%;
  transform-origin: top;
  transform: rotate(180deg);
}

.minHand {
  position: absolute;
  transition: transform ease-in-out 0.25s;
}

.minHand::before {
  position: absolute;
  content: "";
  height: calc(40px + 2vmin);
  width: 5px;
  background-color: #61dafb;
  top: 50%;
  outline: 1px solid #282c34;
  transform-origin: top;
  transform: rotate(180deg);
}

.secHand {
  position: absolute;
  transition: transform ease-in-out 0.2s;
}

.secHand::before {
  position: absolute;
  content: "";
  height: calc(60px + 2vmin);
  width: 1px;
  background-color: #61dafb;
  top: 50%;
  outline: 1px solid #282c34;
  transform-origin: top;
  transform: rotate(180deg);
}

.horizontalDecorateDots {
  position: relative;
  transform: rotate(45deg);
}

.horizontalDecorateDots::before {
  position: absolute;
  content: "◦";
  left: 0%;
  top: 50%;
  transform: translate(-175%, -50%);
}

.horizontalDecorateDots::after {
  position: absolute;
  content: "◦";
  left: 100%;
  top: 50%;
  transform: translate(75%, -50%);
}

.verticalDecorateDots {
  position: relative;
  transform: rotate(45deg);
}

.verticalDecorateDots::before {
  position: absolute;
  content: "◦";
  top: 0%;
  transform: translate(0%, -75%);
}

.verticalDecorateDots::after {
  position: absolute;
  content: "◦";
  top: 100%;
  transform: translate(0%, -25%);
}
